*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li 
{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display :flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 80%;
    padding: 50px 0 ;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn
{
    display: inline-block;
    background-color:#3BADFF ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5;
}
.btn:hover{
    background: #344C56;
}
.header
{
    background: radial-gradient(#fff,#D6F9FF);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis:30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container
{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding:10px; 
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title
{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.title::after
{
    content: '';
    background:#3BF6FF ;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translate3d(-50%);

}
h4{
    color: black;
    font-weight: normal;
}
.col-4 p{font-size: 14px;}
.col-4:hover{
    transform: translateY(-5px)
}
.offer
{
    background: radial-gradient(#fff,#D6F9FF);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
padding: 50px;
}
.col-2 .offer-video{
    width: 64%;
    height: 48%;
}

.brands {
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.footer
{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p 
{
    color: #8a8a8a ;

}

.footer h3
{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1
{
    flex-basis: 30%;
}
.footer-col-2
{
    flex: 1; 
    text-align: center;
}
.footer-col-2 img
{
    width:90px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4
{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none ;
}
.app-logo
{
    margin-top: 20px;

}
.app-logo img {
    width: 140px;
    height: 50px;
}

.footer hr
{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin:20px 0;
}
.copyrigth
{
    text-align: center;
}
.menu-icon
{
    width: 28px;
    margin-left: 40px;
    display: none;
}
/*------- media query para el menu -----*/
@media only screen and (max-width:800px)
{
    nav ul 
    {
    position: absolute;
    top: 110px;
    left: 0;
    background: #333;
    width: 100%;
   overflow: hidden;
   transition: max-height 0.5s;

    }
    nav ul li 
    {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a 
    {
        color:#fff;

    }
    .menu-icon
    {
        display: block;
        cursor:pointer
    }
    input
    {
        display: flex;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .row
    {
        text-align: center;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis: 100%;
    }
}

/* FORMULARIO */
.contenedor{
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    border: 1px solid black;
    padding: 1.5rem;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, .75);
}

.contenedor > .element{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor > .element > .item{
    width: 48%;
    max-width: 48%;
}

.contenedor > .element > .item > textarea{
    width: 100%;
}

.contenedor > .btn{
    font-size: 25px;
    background-color: #3B5998;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 8px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;
}

.correo{
     margin-left: 110px;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color:#3BADFF ;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5;
}


.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.mapa{width: 100%;}
